:root {
  --color-primary: #001133;
  --color-secondary: #989eaa;

  --color-weather-bg-1: #e4f0fe;
  --color-weather-bg-2: #c3e0fb;
  --color-weather-bg-3: #cdf0eb;
  --color-weather-bg-4: #fff4da;
  --color-weather-bg-5: #fdd4d7;
}
